body{
    background-image: url(./image/texture.jpg);
}
.contr {
    background-color: rgb(74, 143, 53, 0.4);
    margin: 70px;
    padding: 3px;
    color: rgb(226, 198, 43);
    height: 100vh;
    border-radius: 50px;
}
.contr:first-child{
background-color: rgba(225, 145, 0, 0.4);
}
.contr:nth-child(2){
    background: url('../AndOne/image/maxresdefault.png');
    background-size: cover;
    background-attachment: fixed;
}
h1{
text-align: center;
}
h1:hover{
    color: red;
}
.clor:hover{
    color: red
}
img{
    display: block;
    block-size: 55%;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: center;
    font-size: 200%;
    box-shadow: black 1px 3px 50px 10px;
    border-radius:3px ;
    background: rgb(red, green, blue);
}
.contr:nth-child(4){
    background-color: rgba(204, 218, 82, 0.4);
    margin-bottom: 30px;
    background-image: url(./image/s1200.jpg);

}

a{
    font-size: 30px;
    color: chartreuse;
    text-decoration: none;
}
a:hover{
    color:red;
}
a:active{
    color: slateblue;
}
.divan{
text-align: center;
margin-bottom: 50px;
}
/* audio{
    margin-top: 20px;
} */

audio:hover, audio:focus, audio:active
{
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    }
    audio
    {
    margin-top: 20px;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow:  2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
    outline: none;
    }